* {
	outline: 0;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 0;
}
h4{
	font-size: 12px;
}
ul,li {
	margin: 0;
	padding: 0;
}
label{
	margin-bottom: 0px; 
	font-weight: normal;
}
a,input,label,.main {
	box-sizing: border-box;
}

#container .news a:visited {
	color: #999;
}

img {
	display: block;
}

.hidden {
	display: none!important;
}

.fl {
	box-sizing: border-box;
}

.banner a {
	display: block;
}

.navigation li.home a {
	padding: 9px 15px!important;
}

.ic-cancel {
	width: 14px;
	height: 14px;
	background: url('../images/icon_cancel.png') no-repeat 0 0!important;
}

body {
	min-width: 1000px;
}

#menu .navigation li:last-child {
	background: none;
}

#menu .navigation li ul.sub {
	width: 200px;
	top: 42px;
}

#menu .navigation li ul.sub li {
	width: 100%;
	background: none;
}

#menu .navigation li ul.sub li a {
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 6px 10px;
}

#menu .navigation li ul.sub li a.sub2 {
	padding-left: 30px;
}

.navigation li a:hover,.navigation li.active > a,.navigation li.current > a {
	background: #F89459;
}

.infor-posi {
	box-sizing: border-box;
}

#footer .copyright .mb5 a {
	color: #caccce;
	padding-right: 2px;
}

.search ul li.item {
	min-width: 150px;
	margin-right: 9px;
	float: left;
}

.search ul li.wr_textsearch {
	display: inline-block;
	width: 100%;
}

.search .item .sbHolder {
	height: 32px;
	border: 1px solid #bebebe;
	border-radius: 0;
	box-sizing: border-box;
}

.search .item .sbHolder .sbSelector {
	width: 130px;
	height: 30px;
}

.search .item .sbHolder .sbToggle {
	width: 20px;
	height: 30px;
}

.search .item select {
	width: 150px;
	height: 32px;
	border: 1px solid #bebebe;
	border-radius: 0;
}

.box-cont {
}

.type_bds a {
	cursor: pointer;
}

.search_list ul.listbox li.item {
	padding: 5px;
	float: left;
	width: 50%;
	box-sizing: border-box;
}

.search_list .item .sbHolder {
	height: 30px;
	border: 1px solid #bebebe;
	border-radius: 0;
}

.search_list .item .sbHolder .sbSelector {
	width: 98px;
	height: 30px;
}

.search_list .item .sbHolder .sbToggle {
	width: 20px;
	height: 30px;
}

.search_list .item select {
	width: 119px;
	height: 32px;
	border: 1px solid #bebebe;
	border-radius: 0;
}

#tab_news a {
	cursor: pointer;
}

.remember input {
	float: left;
	margin-top: 2px;
	margin-right: 5px;
}

.remember label {
	float: left;
}

span.request {
	color: #f00;
	font-weight: bold;
}

.w-98-100 {
	width: 98%!important;
}

.register .selectn {
	width: 237px;
}

.register .message {
	color: #f00;
	font-weight: bold;
	margin: 20px 0;
}

.title-tabs ul li {
	float: left;
	font-size: 15px;
}

.page_controll a div {
	font-size: 15px;
	font-family: "RobotoCondensed-Bold";
	display: inline-block;
	color: #9a9b98;
	border: 1px solid #D1D1D1;
	padding: 5px 10px;
	margin-left: 3px;
}

.page_controll a .style-pager-row-selected,.page_controll a div:hover {
	background: #F9925A;
	color: #fff;
	text-decoration: none;
}

.page_controll .style-pager-button-next-first-last,.page_controll .style-pager-button-back {
	border: none;
}

.detail-news h2 {
	font-size: 100%;
}

.detail-news .nd_content p {
	padding: 5px 0;
	font-family: 'Times New Roman'!important;
	font-size: 11pt!important;
	line-height: 20px!important;
}

.detail-news .news-source-news {
	font-family: Arial;
	margin-top: 20px;
	line-height: 18px;
	text-align: right;
}

#txtDenngay,#txtTungay {
	margin: 0;
	width: 140px;
	border: none;
}

.fillter-news .mix-select {
	padding: 0;
}

.fillter-news .mix-select #txtDenngay,.fillter-news .mix-select #txtTungay {
	width: 149px;
}

#txtMatin {
	width: 150px;
}

.ic-backup2 {
	background: url(../images/icon_manager.png) no-repeat;
	display: block;
	background-position: 0 -45px;
	height: 12px;
	width: 15px;
}

.ic-refreshup2 {
	background: url(../images/icon_manager.png) no-repeat;
	display: block;
	background-position: -3px 0;
	height: 12px;
	width: 12px;
}

.fillter-news .wr_select {
	padding: 0;
}

.fillter-news .sbHolder .sbToggle {
	background-position: 5px -23px;
}

.fillter-news .sbHolder {
	height: 30px;
	border: none;
	border-radius: 0;
	box-sizing: border-box;
}

.fillter-news .sbHolder .sbSelector {
	width: 130px;
	height: 30px;
}

.fillter-news .sbHolder .sbToggle {
	width: 20px;
	height: 30px;
}

.fillter-news select {
	width: 152px;
	height: 30px;
	border-radius: 0;
}

#boxUpadate .mix-select {
	padding: 0;
}

#boxUpadate .sbHolder .sbToggle {
	background-position: 5px -23px;
}

#boxUpadate .sbHolder {
	height: 30px;
	border: none;
	border-radius: 0;
	box-sizing: border-box;
}

#boxUpadate .sbHolder .sbSelector {
	width: 130px;
	height: 30px;
}

#boxUpadate .sbHolder .sbToggle {
	width: 20px;
	height: 30px;
}

#boxUpadate select {
	width: 152px;
	height: 32px;
	border: 1px solid #bebebe;
	border-radius: 0;
}

#boxUpadate .loading_update {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url('../images/bg_diagonals_40x40.png') repeat scroll 50% 50% #666666;
	opacity: 0.5;
	z-index: 11;
	border-radius: 5px 5px 5px 5px;
	display: none;
}

#boxUpadate .loading_update img {
	height: 100px;
	left: 43%;
	position: absolute;
	top: 40%;
	width: 100px;
}

#box_register .mix-select {
	padding: 0;
}

#box_register .wr_select {
	width: 47%;
}

#box_register .sbHolder .sbToggle {
	background-position: 5px -23px;
}

#box_register .sbHolder {
	height: 30px;
	border: 2px solid #D5EBEF!important;
	border-radius: 0;
	box-sizing: border-box;
}

#box_register .sbHolder .sbSelector {
	width: 205px;
	height: 26px;
}

#box_register .sbHolder .sbToggle {
	width: 20px;
	height: 26px;
}

#box_register .sbOptions {
	width: 225px;
}

#box_register select {
	width: 225px;
	height: 30px;
	border: 1px solid #bebebe;
	border-radius: 0;
}

.boxpost .mix-select {
	padding: 0;
	height: auto;
	border: none;
}

.boxpost .wr_select {
	width: 47%;
}

.boxpost .sbHolder .sbToggle {
	background-position: 5px -23px;
}

.boxpost .sbHolder {
	height: 30px;
	border: 1px solid #D8D8D8;
	border-radius: 0;
	box-sizing: border-box;
}

.boxpost .sbHolder .sbSelector {
	width: 125px;
	height: 28px;
}

.boxpost .sbHolder .sbToggle {
	width: 20px;
	height: 28px;
}

.boxpost select {
	width: 145px;
	height: 28px;
	border: 1px solid #bebebe;
	border-radius: 0;
}

.boxpost textarea {
	box-sizing: border-box;
}

.boxpost .date-select {
	border: 1px solid #D8D8D8;
}

.boxpost .radio {
	float: left;
	margin: 5px 0 0 0;
	opacity: 0;
}

.boxpost .radio_type {
	background: url("../images/bg_rdo.png") no-repeat;
	cursor: pointer;
	float: left;
	font-style: normal;
	height: 24px;
	line-height: 24px;
	margin-left: -13px;
	margin-right: 20px;
	padding-left: 29px;
}

.boxpost .radio_selected {
	background: url("../images/rdo.png") no-repeat;
	cursor: default;
}

#mapinfo {
	width: 600px;
	border: 1px solid #cac2ba;
}

#map_canvas {
	width: 100%;
	height: 250px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
}

.wr_order {
}

.wr_order .lblorder {
	float: left;
	color: #0098bb;
	font: normal 12px/30px arial;
	padding-right: 5px;
}

.wr_order .sbHolder .sbToggle {
	background-position: 5px -25px;
}

.wr_order .sbHolder:hover .sbToggle,.wr_order .sbToggle:hover {
	background-position: 5px -25px;
}

.wr_order .sbToggleOpen:hover {
	background-position: 5px -63px!important;
}

.wr_order .sbHolder {
	height: 25px;
	border: 1px solid #D8D8D8;
	border-radius: 0;
	box-sizing: border-box;
	display: inline-block;
	width: 130px;
	margin-top: 3px;
	line-height: 25px;
}

.wr_order .sbHolder .sbSelector {
	width: 125px;
	height: 23px;
	line-height: 25px;
}

.wr_order .sbHolder .sbToggle {
	width: 20px;
	height: 23px;
}

.wr_order .sbOptions {
	width: 130px;
}

.lblcate {
	background: #0098bb;
	color: #fff;
	padding: 5px 10px;
	font-weight: normal;
}

.box-result {
	margin-top: 10px;
	font: normal 13px/18px arial;
	color: #4c4c4c;
}

.box-result .label {
	color: #0098bb;
}

.box-result a {
	color: #0098bb;
}

.box-result b {
	color: #0098bb;
}

.box-result .keword {
	font: bold 14px arial;
	color: #0098bb;
}

.ic-count {
	background: url('../images/icon_right.png') no-repeat 0 0;
	width: 24px;
	height: 22px;
	left: 5px;
	position: absolute;
	top: 8px;
}

.ic-link {
	background: url('../images/icon_right.png') no-repeat 0 -40px;
	width: 24px;
	height: 22px;
	left: 5px;
	position: absolute;
	top: 8px;
}

.ic-tuvan {
	background: url('../images/icon_right.png') no-repeat 0 -150px;
	width: 25px;
	height: 20px;
	left: 5px;
	position: absolute;
	top: 8px;
}

.box-link ul li {
}

.box-link ul li a {
	font: bold 12px/18px arial;
	padding-left: 15px;
	margin: 5px 0;
	background: url('../images/icon-butlet.png') no-repeat 0 6px;
	color: #474742;
}

.box-link ul li a b {
	color: #0098bb;
}

.detail-news .location a {
	color: #0098bb;
}

.detail-news .description {
	font: normal 13px/20px arial;
}

.detail-news #divmyGallery img {
	max-width: 630px;
	margin: 0 auto;
}

.detail-news #mapinfo {
	width: 648px;
}

#tbl1,#tbl2 {
	color: #545454;
	width: 100%;
}

#tbl1 td,#tbl2 td {
	text-align: left;
	padding: 5px 10px 5px 0;
	min-width: 85px;
}

.detail-news .alt {
	background: #f4f4f4;
}

.detail-news .titlebox,.boxother .titlebox {
	border-top: 2px solid #0098bb;
	border-bottom: 1px solid #D1D1D1;
	margin-bottom: 10px;
}

.detail-news .titlebox .tt,.boxother .titlebox .tt {
	background: #0098bb;
	color: #fff;
	padding: 5px 10px;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
}

.divshare {
	margin: 20px 0 0 0;
	color: #23475f;
	height: 24px;
}

.divshare .print {
	height: 28px;
	background: url('../images/icon_right.png') no-repeat 10px -74px #0098bb;
	padding-left: 42px;
	padding-right: 15px;
	color: #fff;
	font: bold 12px/28px arial;
	margin: 0 5px 0 0;
	float: left;
	border-radius: 3px;
}

.divshare .print:hover {
	text-decoration: underline;
}

.divshare .save {
	height: 28px;
	background: url('../images/icon_right.png') no-repeat 10px -110px #0098bb;
	cursor: pointer;
	float: left;
	padding-left: 42px;
	padding-right: 15px;
	color: #fff;
	font: bold 12px/28px arial;
	border-radius: 3px;
}

.divshare .saved {
	width: 69px;
	background: #F89459;
	text-decoration: none;
	text-align: center;
	line-height: 24px;
	color: #fff;
	border-radius: 3px;
	float: left;
	padding: 2px;
}

#boxProductSaved {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 450px;
	border-radius: 5px 5px 0 0;
	border: 1px solid #bababa;
	padding: 10px 15px;
	background: #fff;
	text-align: left;
	z-index: 11;
	line-height: 18px;
}

.dplvisiable {
	display: block;
}

#boxProductSaved .titlebox {
	display: inline-block;
	width: 100%;
	font-size: 20px;
	margin-bottom: 15px;
	color: #0098bb;
}

#boxProductSaved .titlebox .hideAll {
	width: 15px;
	height: 14px;
	background: url('../images/hide.png') no-repeat 0 3px;
	display: block;
	float: right;
	margin-right: 10px;
	cursor: pointer;
}

#boxProductSaved .titlebox .showAll {
	width: 15px;
	height: 14px;
	background: url('../images/show.png') no-repeat 0 3px;
	display: block;
	float: right;
	margin-right: 10px;
	cursor: pointer;
}

#boxProductSaved .titlebox #deleteAll {
	width: 14px;
	height: 14px;
	background: url('../images/delete_all.png') no-repeat 0 0;
	display: block;
	float: right;
	cursor: pointer;
}

#boxProductSaved .listbox li span {
	width: 15px;
	height: 14px;
	background: url('../images/icon_delete.png') no-repeat 0 3px;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 2px;
}

#boxProductSaved .listbox li {
	position: relative;
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}

#boxProductSaved .listbox li a {
	font-family: Arial;
	float: left;
	text-decoration: none;
	color: #474742;
	padding: 0 30px 0 0;
}

#boxProductSaved .listbox li a:hover {
	color: #f9925a;
}

#boxContact .loading_contact {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url('../images/bg_diagonals_40x40.png') repeat scroll 50% 50% #666666;
	opacity: 0.5;
	z-index: 11;
	border-radius: 5px 5px 5px 5px;
	display: none;
}

#boxContact .loading_contact img {
	height: 100px;
	left: 43%;
	position: absolute;
	top: 40%;
	width: 100px;
}

#txtContent {
	box-sizing: border-box;
}

#container .main {
	position: static;
}

.bg_prices {
	background: url(../images/icon_p.png) no-repeat 0 15px;
	bottom: -6px;
	color: #fff;
	font-size: 10px;
	font-weight: 600;
	line-height: 19px;
	position: absolute;
	right: 0;
	text-align: center;
	padding-left: 3px;
}

.bg_prices label {
	background: url(../images/bg_price.png) repeat-x 0 0;
	padding: 0 8px;
}

.tuvan .box-cont {
	padding: 10px 8px;
}

.tuvan .listbox {
	background: url(../images/bg_tuvan.png) no-repeat;
	min-height: 73px;
	position: relative;
}

.tuvan .listbox ul {
}

.tuvan ul li {
	float: left;
	display: block;
	width: 100%;
	margin: 0 38px;
	padding-top: 27px;
}

.tuvan ul li a {
	color: #fff;
	font: bold 12px/18px arial;
	width: 188px;
}

.tuvan .listbox #prev {
	position: absolute;
	left: 0;
	top: 49%;
	width: 18px;
	height: 18px;
}

.tuvan .listbox #next {
	position: absolute;
	right: 0;
	top: 49%;
	width: 18px;
	height: 18px;
}

#boxGuide .itemGuide {
	display: none;
}

.box-cont .reason {
	float: left;
	width: 100%;
	color: red;
	line-height: 18px;
	text-align: left;
}

.box-cont .reason .lb-h {
	float: left;
	width: 100%;
	font-weight: bold;
	text-align: left;
}

#top_bar .dangnhap:hover,#top_bar .dangky:hover,#top_bar .act {
	background: #0098bb;
	color: #fff;
}

#top_bar .dangnhap:hover s,#top_bar .dangnhap.act s {
	background: url('../images/icon_right.png') no-repeat 0 -188px;
}

#top_bar .dangky:hover s,#top_bar .dangky.act s {
	background: url('../images/icon_right.png') no-repeat 0 -220px;
	height: 13px;
}

#btnLogin {
	background: url('../images/icon_login.png') no-repeat 30px 2px #0098BB;
	padding-left: 80px;
	padding-right: 34px;
}

#login_cancel {
	padding-left: 75px;
	padding-right: 75px;
	float: right;
}

.action a:hover {
	background-color: #f9925a;
	text-decoration: none;
}

.danglai a {
	background: url(../images/icon_manager.png) no-repeat 5px 6px #0098bb;
	padding: 4px 6px 3px 27px;
	color: #fff;
}

.danglai span {
	background: url(../images/icon_manager.png) no-repeat 5px 6px #aaa;
	cursor: default;
	padding: 6px 6px 5px 27px;
}

.upnews {
	margin-top: 15px;
}

.upnews a {
	background: url(../images/icon_manager.png) no-repeat 5px -28px #0098bb;
	padding: 4px 11px 3px 27px;
	color: #fff;
}

.upnews span {
	background: url(../images/icon_manager.png) no-repeat 5px -28px #aaa;
	cursor: default;
	padding: 6px 11px 5px 27px;
}

.box-link .title .font15 {
	font-weight: normal;
}

ul li .infor-descrip {
	margin-top: -3px;
}

.box-cont ul li a.pic {
	background: url('../images/no-photo.png') no-repeat 50% 50%;
}

#banner_top {
	min-height: 92px;
}

.detail-news .nd_content {
	text-align: justify;
}

.detail-news .nd_content img {
	display: inline;
}

.box.search .item .form-group {
  margin-bottom: 15px;
  width: 150px;
}
.box.search .select2-container--krajee .select2-selection, .box.search .select2-container--krajee .select2-search--dropdown .select2-search__field{
	border-radius: 0px !important;
}
.box.search .select2-container--krajee .select2-results__option--highlighted[aria-selected], .box.search .select2-container--krajee .select2-results__option[aria-selected=true]{
	background-color: #0098BB;
}
.select2-container--krajee.select2-container--disabled .select2-selection, .select2-container--krajee.select2-container--disabled .select2-selection--multiple .select2-selection__choice{
	background-color:#fff;
}
.select2-container--krajee.select2-container--disabled .select2-selection, .select2-container--krajee.select2-container--disabled .select2-search__field{
	cursor: pointer;
}
.select2-container--krajee .select2-selection--single .select2-selection__placeholder {
  font-size: 12px;
}