@charset "utf-8";

@font-face {
	font-family:'RobotoCondensed-Bold';src:url('../fonts/RobotoCondensed-Bold.ttf');src:url('../fonts/RobotoCondensed-Bold.eot');src:url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/RobotoCondensed-Bold.TTF') format('truetype');
}

* {
	margin: 0;
	padding: 0;
}

html {
}

body {
	color: #4f4f4e;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 1.5;
	background: #F2F2F2;
}

.font-roboto {
	font-family: "RobotoCondensed-Bold";
}

#wrapper {
	background: #fff;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

.font10 {
	font-size: 10px!important;
}

.font11 {
	font-size: 11px!important;
}

.font12 {
	font-size: 12px!important;
}

.font13 {
	font-size: 13px!important;
}

.font14 {
	font-size: 14px!important;
}

.font15 {
	font-size: 15px!important;
}

.font16 {
	font-size: 16px!important;
}

.font17 {
	font-size: 17px!important;
}

.font18 {
	font-size: 18px!important;
}

.font20 {
	font-size: 20px!important;
}

.font22 {
	font-size: 22px!important;
}

.font24 {
	font-size: 24px!important;
}

.font26 {
	font-size: 26px!important;
}

.font28 {
	font-size: 28px!important;
}

.font30 {
	font-size: 30px!important;
}

.bold {
	font-weight: 600;
}

.normal {
	font-weight: normal;
}

.italic {
	font-style: italic;
}

.width-full {
	width: 100%!important;
}

.height-full {
	height: 100%!important;
}

.w-85-100 {
	width: 85%!important;
}

.w-80-100 {
	width: 80%!important;
}

.w-70-100 {
	width: 70%!important;
}

.w-50-100 {
	width: 50%!important;
}

.w-60-100 {
	width: 60%!important;
}

.w-40-100 {
	width: 40%!important;
}

.w-30-100 {
	width: 30%!important;
}

.w-25-100 {
	width: 25%!important;
}

.w-15-100 {
	width: 15%!important;
}

.w-20-100 {
	width: 20%!important;
}

.w-650 {
	width: 650px;
}

.w-630 {
	width: 630px;
}

.w-470 {
	width: 470px;
}

.w-350 {
	width: 350px;
}

.w-280 {
	width: 280px;
}

.w-258 {
	width: 258px;
}

.w-208 {
	width: 208px;
}

.w-200 {
	width: 200px;
}

.w-196 {
	width: 196px;
}

.w-190 {
	width: 190px;
}

.w-170 {
	width: 170px;
}

.w-160 {
	width: 160px;
}

.w-80 {
	width: 80px;
}

.h-320 {
	height: 320px;
}

.h-230 {
	height: 230px;
}

.h-150 {
	height: 150px;
}

.h-130 {
	height: 130px;
}

.h-100 {
	height: 100px;
}

.h-65 {
	height: 65px;
}

.h-38 {
	height: 38px;
}

.uppercase {
	text-transform: uppercase;
}

.hide {
	display: none!important;
}

b,strong {
	font-weight: bold;
}

a {
	color: #333;
	outline: none;
	display: inline-block;
	text-decoration: none;
}

a.pic img {
	width: 100%;
	height: 100%;
}

a:hover {
	outline: 0;
	text-decoration: underline;
}

img {
	border: none;
	display: inline-block;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.tj {
	text-align: justify;
}

.tr {
	text-align: right;
}

.tc {
	text-align: center;
}

.tl {
	text-align: left;
}

.underline {
	text-decoration: underline;
}

.underline-none {
	text-decoration: none!important;
}

.cursor {
	cursor: pointer;
}

.overflow {
	overflow: hidden;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.position {
	position: relative;
}

.none-position {
	position: inherit!important;
}

.reset {
	margin: 0!important;
	padding: 0!important;
}

.margin-center {
	margin: 0 auto;
}

.last-rows {
	margin-right: 0;
	margin-left: 0;
}

.mg10 {
	margin: 10px;
}

.mg20 {
	margin: 20px;
}

.mt2 {
	margin-top: 2px;
}

.mt3 {
	margin-top: 3px;
}

.mt8 {
	margin-top: 8px;
}

.mt5 {
	margin-top: 5px;
}

.mr5 {
	margin-right: 5px;
}

.ml5 {
	margin-left: 5px;
}

.mb5 {
	margin-bottom: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr13 {
	margin-right: 13px;
}

.mb13 {
	margin-bottom: 13px;
}

.mt10 {
	margin-top: 10px;
}

.ml10 {
	margin-left: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.mr20 {
	margin-right: 20px;
}

.mt20 {
	margin-top: 20px;
}

.ml20 {
	margin-left: 20px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb30 {
	margin-bottom: 30px;
}

.mr30 {
	margin-right: 30px;
}

.mt40 {
	margin-top: 40px;
}

.mb40 {
	margin-bottom: 40px;
}

.mr50 {
	margin-right: 50px;
}

.mt50 {
	margin-top: 50px;
}

.mt80 {
	margin-top: 80px;
}

.pd30 {
	padding: 30px;
}

.pt30 {
	padding-top: 30px;
}

.pb30 {
	padding-bottom: 30px;
}

.pr30 {
	padding-right: 30px;
}

.pl30 {
	padding-left: 30px;
}

.pl80 {
	padding-left: 80px;
}

.pr80 {
	padding-right: 80px;
}

.pd20 {
	padding: 20px;
}

.pd10 {
	padding: 10px;
}

.pd5 {
	padding: 5px;
}

.pl5 {
	padding-left: 5px;
}

.pr5 {
	padding-right: 5px;
}

.pt5 {
	padding-top: 5px;
}

.pb5 {
	padding-bottom: 5px;
}

.pl10 {
	padding-left: 10px;
}

.pr10 {
	padding-right: 10px;
}

.pt10 {
	padding-top: 10px;
}

.pb10 {
	padding-bottom: 10px;
}

.pl20 {
	padding-left: 20px;
}

.pr20 {
	padding-right: 20px;
}

.pt20 {
	padding-top: 20px;
}

.pb20 {
	padding-bottom: 20px;
}

.red {
	color: #FF4F51;
}

.green {
	color: #2a4f1c;
}

.blue {
	color: #0098bb;
}

.ocean {
	color: #3da1ea;
}

.gray {
	color: #9a9b98;
}

.white {
	color: white;
}

.black {
	color: black;
}

.orange {
	color: #f9925a;
}

.cl4 {
	color: #444;
}

.cl5 {
	color: #555;
}

.border-blue-top {
	border-top: 5px solid #0098BB;
}

.border {
	border: 1px solid #D1D1D1;
}

.bor-bot {
	border-bottom: 1px solid #D1D1D1;
}

.bor-top {
	border-top: 1px solid #D1D1D1;
}

.bor-left {
	border-left: 1px solid #D1D1D1;
}

.bor-right {
	border-right: 1px solid #D1D1D1;
}

.border-gray2 {
	border: 2px solid #D1D1D1;
}

.border-gray3 {
	border: 3px solid #D1D1D1;
}

.bor-bot-blue2 {
	border-bottom: 2px solid #0098BB;
}

.bor-top-blue2 {
	border-top: 2px solid #0098BB;
}

.bor-left-blue2 {
	border-left: 2px solid #0098BB;
}

.bor-right-blue2 {
	border-right: 2px solid #0098BB;
}

.bor-bot-blue4 {
	border-bottom: 4px solid #0098BB;
}

.bor-top-blue4 {
	border-top: 4px solid #0098BB;
}

.bor-left-blue4 {
	border-left: 4px solid #0098BB;
}

.bor-right-blue4 {
	border-right: 4px solid #0098BB;
}

.border-green2 {
	border: 2px solid #D5EBEF!important;
}

.box-shadow {
	box-shadow: 0 0 2px #ccc;
}

.nobor {
	border: none!important;
}

.last,.first {
	margin: 0!important;
	border: none!important;
	background: none!important;
	padding: 0!important;
}

.last-rows {
	margin: 0!important;
}

.bg_white {
	background: #ffffff!important;
}

.bg-gray {
	background: #F2F2F2!important;
}

.bg-blue {
	background: #0098BB!important;
}

.bg-orange {
	background: #F89459!important;
}

.bg-none {
	background: none!important;
}

.radius_none {
	border-radius: 0!important;
	-webkit-border-radius: 0!important;
	-o-border-radius: 0!important;
	-ms-border-radius: 0!important;
}

.radius {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
}

.opacity {
	opacity: 0;
	filter: alpha(opacity=0);
	zoom: 1;
}

ul li,li ol {
	list-style-type: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
	margin-bottom: 10px;
}

td,th {
	vertical-align: middle;
	text-align: center;
	padding: 10px;
}

label {
	display: block;
}

.inline {
	display: inline-block;
}

.block {
	display: block;
}

hr {
	background: #ddd;
	color: #ccc;
	clear: both;
	float: none;
	width: 100%;
	height: 1px;
	border: none;
}

.gradient {
	box-shadow: 0 0 0 1px #338DBC inset;
	border-color: #FEEFC7;
	border-radius: 4px;
	background: #fffcf5;
	background: -moz-linear-gradient(top,#197AB2 0%,#1C5F86 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fffcf5),color-stop(100%,#fef6e1));
	background: -webkit-linear-gradient(top,#fffcf5 0%,#fef6e1 100%);
	background: -o-linear-gradient(top,#fffcf5 0%,#fef6e1 100%);
	background: -ms-linear-gradient(top,#fffcf5 0%,#fef6e1 100%);
	background: linear-gradient(top,#fffcf5 0%,#fef6e1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf5',endColorstr='#fef6e1',GradientType=0 );
}

.transform {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

input[type=submit],input[type=button] {
	border: medium none;
	cursor: pointer;
	padding: 0;
	white-space: nowrap;
}

input[type=file] {
	box-shadow: none!important;
}

input[type=text],input[type=password],select,textarea,input[type=file] {
	background-color: #fff;
	border: 1px solid #D8D8D8;
	-moz-transition: border 0.2s linear 0s,box-shadow 0.3s linear 0s;
	padding: 0.5em;
}

textarea {
	height: 100px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #999;
}

select {
	padding: 0.35em;
}

select option {
	width: 100%;
}

*html input,*html textarea {
	border: 1px solid #dedede;
}

input[type=text]:focus,input[type=password]:focus,textarea:focus,select:focus,input[type=file]:focus {
	border-color: rgba(82,168,236,0.8);
	outline: 0;
}

input[type=checkbox],input[type=radio],input.checkbox,input.radio {
	top: 0.25em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clear {
	clear: both;
}

* html .clearfix {
	zoom: 1;
}

*:first-child+html .clearfix {
	zoom: 1;
}

.page {
	border-top: 2px solid #EDEDED;
	border-bottom: 2px solid #EDEDED;
	padding: 10px 0;
}

.view_add {
	position: absolute;
	right: 0;
	top: 13px;
}

.lear-first,.lear-last {
	padding: 0 10px;
}

.page-other a.number-page.active,.page-other a.number-page:hover {
	background: #F9925A;
	border: 1px solid #D1D1D1;
	color: #fff;
	text-decoration: none;
}

.popup {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 4px;
	border: 1px solid #dedede;
	box-shadow: 0 0 8px 3px rgba(15,15,15,0.4);
	display: block;
	left: 50%;
	padding: 0.5em;
	position: absolute;
	top: 50%;
	z-index: 9999;
}

#contentPanel {
}

.main {
	margin: 0 auto;
	width: 1000px;
	position: relative;
	z-index: 5;
}

#top_bar {
}

#top_bar .main {
	background: url(../images/bg-topbar.png) repeat-x;
}

.box-tagein {
	background: url(../images/bg-topbar-main.png) no-repeat right 0;
}

#top_bar ul li {
	float: right;
	margin-left: 25px;
}

#top_bar ul li a {
	text-decoration: none;
	padding: 4px 15px;
}

#header {
}

#header .main {
}

.logo {
	position: absolute;
	top: -27px;
	left: 0;
}

#menu {
	background: #0098BB;
}

#menu .main {
	z-index: 6;
}

.navigation {
}

.navigation li {
	float: left;
	font-size: 15px;
	background: url(../images/line-menu.png) repeat-y right 0;
	position: relative;
}

.navigation li ul.sub {
	position: absolute;
	background: #0098BB;
	white-space: nowrap;
	left: 0;
	display: none;
	top: 43px;
	min-width: 100%;
	box-shadow: 0 2px 3px #333;
}

.navigation li:hover ul.sub {
	display: block;
}

.navigation li ul.sub li {
	border-bottom: 1px solid #03758F;
	margin: 0;
}

.navigation li ul.sub li a.event-link {
	color: #fff;
}

.navigation li a {
	text-decoration: none;
	color: #fff;
	padding: 10px 15px;
}

.navigation li.home a {
	padding: 12px 15px;
}

.navigation li a.links:hover,.navigation li a.links.active,.navigation li:hover a.links,.event-link:hover {
	background: #F89459;
}

#menu-footer {
}

.navi-footer li {
	float: left;
	font-size: 14px;
	margin-right: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	border-right: 1px solid #6B6B6B;
}

.navi-footer li a {
	color: #f9925a;
}

#container {
}

#container .main {
}

.box {
}

.title {
	position: relative;
	background: #0098BB;
	padding: 2px 0 0 35px;
}

.title h3.font15,.title-tabs ul li.font15 {
	font-weight: normal!important;
}

.buiding-shadow {
	position: absolute;
	right: 0;
	bottom: 0;
}

.title-tabs ul li a {
	padding: 5px 20px;
	text-decoration: none;
}

.title-tabs ul li a:hover,.title-tabs ul li a.active {
	background: #0098BB;
	color: #fff;
}

.box-cont {
}

.box-cont img,.box-cont table,.nd_content img,.nd_content table {
	max-width: 100%;
}

.infor-posi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2px 5px;
	background: none repeat scroll 0 0 rgba(0,0,0,0.6);
	color: #fff;
}

.news-hot .infor-posi label {
	line-height: 18px;
}

.prices {
	background: url(../images/icon.png) no-repeat scroll right -115px rgba(0,0,0,0);
	bottom: -7px;
	color: #fff;
	font-size: 10px;
	font-weight: 600;
	height: 33px;
	padding-top: 11px;
	position: absolute;
	right: 0;
	text-align: center;
	width: 43px;
}

.rows-tools {
	width: 50%;
	padding: 10px;
	float: left;
}

.rows-tools .name-tools {
	line-height: 1.3;
	background: #F0F4F7;
	border-radius: 2px;
	box-shadow: 2px 2px 0 #bccad3;
	padding: 10px;
	height: 90px;
	overflow: hidden;
	width: 100%;
}

.action-imgthums ul li {
	line-height: 0;
}

.action-imgthums ul li a:hover img:hover,.action-imgthums ul li a.active img {
	border: 1px solid #e86056;
}

.bt-left-slide {
	position: absolute;
	top: 47%;
	left: 10px;
}

.bt-right-slide {
	position: absolute;
	top: 47%;
	right: 10px;
}

.user-manger ul li a:hover,.user-manger ul li a.active {
	text-decoration: none;
	background: #E9F2F4;
	color: #333;
}

.bt-seaerch {
	padding: 3.5px 10px;
	font-weight: normal!important;
}

.mix-select {
	border: 1px solid #D8D8D8;
	height: 32px;
	padding: 6px 5px 5px;
	width: 151.3px;
}

.mix-select select {
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.mix-select .ic-search-arrow {
	position: absolute;
	right: 7px;
	top: 13px;
}

.bg-search {
	background: url(../images/buiding-shadow.png) no-repeat bottom left;
	padding-bottom: 80px;
}

#footer {
	background: #303642;
	border-top: 5px solid #0098BB;
}

#footer .main {
}

.copyright {
	color: #caccce;
}

.adress {
	border-top: 1px solid #9a9b98;
	color: #caccce;
}

s {
	background: url(../images/icon.png) no-repeat;
	display: inline-block;
	position: relative;
}

.ic-newsup {
	background-position: -47px -24px;
	width: 13px;
	height: 12px;
}

.ic-login {
	background-position: -26px -24px;
	width: 13px;
	height: 12px;
}

.ic-register {
	background-position: 0 -24px;
	width: 15px;
	height: 12px;
}

.ic-homes {
	background-position: 0 -78px;
	width: 25px;
	height: 19px;
}

.ic-search {
	background-position: 0 -49px;
	width: 18px;
	height: 17px;
}

.ic-search-arrow {
	background-position: -68px -24px;
	width: 10px;
	height: 5px;
}

.ic-news-01 {
	background-position: 0 -313px;
	width: 19px;
	height: 17px;
	left: 8px;
	position: absolute;
	top: 10px;
}

.ic-news-02 {
	background-position: 0 -350px;
	width: 25px;
	height: 18px;
	left: 5px;
	position: absolute;
	top: 9px;
}

.ic-news-03 {
	background-position: 0 -388px;
	width: 26px;
	height: 20px;
	left: 5px;
	position: absolute;
	top: 8px;
}

.ic-news-04 {
	background-position: 0 -430px;
	width: 23px;
	height: 22px;
	left: 5px;
	position: absolute;
	top: 8px;
}

.ic-news-05 {
	background-position: 0 -539px;
	width: 20px;
	height: 19px;
	left: 8px;
	position: absolute;
	top: 8px;
}

.ic-news-06 {
	background-position: 0 -472px;
	width: 23px;
	height: 21px;
	left: 6px;
	position: absolute;
	top: 8px;
}

.ic-news-07 {
	background-position: -36px -269px;
	width: 26px;
	height: 20px;
	left: 4px;
	position: absolute;
	top: 8px;
}

.ic-news-08 {
	background-position: 0 -576px;
	width: 25px;
	height: 20px;
	left: 5px;
	position: absolute;
	top: 9px;
}

.ic-news-09 {
	background-position: 0 -264px;
	width: 26px;
	height: 25px;
	left: 4px;
	position: absolute;
	top: 6px;
}

.ic-news-10 {
	background-position: -35px -310px;
	width: 23px;
	height: 21px;
	left: 6px;
	position: absolute;
	top: 8px;
}

.ic-news-11 {
	background-position: -37px -349px;
	width: 23px;
	height: 21px;
	left: 7px;
	position: absolute;
	top: 9px;
}

.ic-area {
	background-position: -83px -24px;
	width: 16px;
	height: 13px;
}

.ic-option {
	background-position: -104px -24px;
	width: 16px;
	height: 10px;
}

.ic-adress {
	background-position: -93px 0;
	width: 16px;
	height: 13px;
}

.ic-tools-email {
	background-position: -65px -43px;
	width: 41px;
	height: 28px;
}

.ic-price-list {
	background-position: -21px -44px;
	width: 42px;
	height: 26px;
}

.ic-price-home {
	background-position: right -75px;
	width: 38px;
	height: 33px;
}

.ic-textvd {
	background-position: -34px -76px;
	height: 32px;
	width: 44px;
}

.ic-fengshui {
	background-position: 0 -114px;
	height: 35px;
	width: 35px;
}

.ic-interest {
	background-position: -43px -114px;
	height: 35px;
	width: 32px;
}

.ic-arrow-double {
	background-position: 0 -625px;
	height: 7px;
	width: 8px;
}

.ic-arow-news {
	background-position: -15px -164px;
	height: 9px;
	width: 10px;
}

.ic-left-slide {
	background-position: -82px -262px;
	height: 27px;
	width: 15px;
}

.ic-right-slide {
	background-position: right -262px;
	height: 27px;
	width: 15px;
}

.ic-refresh {
	background-position: right -298px;
	height: 17px;
	width: 18px;
}

.ic-register-white {
	background-position: right -185px;
	height: 27px;
	width: 29px;
}

.ic-yahoo-login {
	background-position: -64px -221px;
	height: 25px;
	width: 25px;
}

.ic-gmail-login {
	background-position: right -221px;
	height: 25px;
	width: 25px;
}

.ic-arrow {
	background-position: -33px -164px;
	height: 10px;
	width: 6px;
}

.ic-views {
	background-position: right -324px;
	height: 13px;
	width: 18px;
}

.ic-edit {
	background-position: right -368px;
	height: 16px;
	width: 14px;
}

.ic-delete {
	background-position: right -417px;
	height: 16px;
	width: 17px;
}

.ic-backup {
	background-position: right -604px;
	height: 12px;
	width: 15px;
}

.usa-news:hover .ic-backup {
	background-position: right -560px;
}

.ic-refreshup {
	background-position: right -470px;
	height: 12px;
	width: 12px;
}

.usa-news:hover .ic-refreshup {
	background-position: right -515px;
}

.ic-dowload {
	background-position: -27px -234px;
	height: 15px;
	width: 20px;
}

.ic-dote {
	background-position: 0 -166px;
	height: 5px;
	width: 4px;
}

.ic-folder {
	background-position: -36px -387px;
	height: 21px;
	width: 21px;
}